
/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */


  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

  
*,*::before,*::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
:root{
  /* ### Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /* ### Neutral */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

};

html{
  background-color:var(--Very-light-gray);
}

body{
  box-sizing:inherit;
  font-size:15px;
  font-family: 'Lexend Deca', sans-serif;
  color:white;
  background-color:var(--Very-light-gray);
  }
h1{
  font-size:2.5rem;
  font-family: 'Big Shoulders Display', cursive;
}

img{
  width:55px;
  }


.container-grid{
  width:max-content;
  display:grid;
  
}

.container-grid{
  margin:3rem auto;
  border-radius:0.5rem;
  overflow:hidden;
}

.vehicle_sedan{
  background-color:var(--Bright-orange);
}

.vehicle_suvs{
  background-color:var(--Dark-cyan);
}
.vehicle_luxury{
  background-color:var(--Very-dark-cyan);
}



.vehicle_card{
  max-width:300px;
  padding:2.5rem 3rem 1rem 2.5rem;
}

.vehicle_card img{
  display:block;
  width:55px;
}
.vehicle_card h1{
  margin:2rem 0;
}

.vehicle_card p{
line-height:2;
color:var(--Transparent-white);
}

.vehicle_card button{
  background-color: var(--Very-light-gray);
}

.vehicle_sedan button{
  color:var(--Bright-orange);

}

.vehicle_suvs button{
 color:var(--Dark-cyan);
}

.vehicle_luxury button{
  color:var(--Very-dark-cyan);
}

.button{
  margin:4rem 0 2rem;
  padding:0.8rem 2rem;
  border:none;
  border-radius:2rem;
  font-weight:700;
  cursor:pointer;
}

button:hover{
  background-color:transparent;
  color:var(--Transparent-white);
  border:1px solid;
  
}


@media (min-width:900px){
  .flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  .container-grid{
    grid-template-columns:repeat(3,minmax(300px,1fr));
    
  }
  }
